body {
  background: #F0F0F0;
}
body > .container {
  padding-top: 50px;
}
.ui.grid {
  margin-right: 0 !important;
}
.ui.grid > .row {
  padding-bottom: 0;
}
.ui.grid > .row > .column {
  padding-right: 0;
}
.ui.segment,
.ui.fluid.accordion {
  border-radius: 0;
}
.ui.segment {
  margin-bottom: 0;
  border: none;
  box-shadow: none;
}
