body {
  background: #2185D0;
}
.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}
.ui.container {
  margin-top: -70px;
