.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 5px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
.ui.segment a.see.all {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.ui.grid > .row:not(:first-child) {
  padding-top: 0;
}
.ui.grid > .row:first-child .ui.basic.segment {
  padding: 0 !important;
}
.ui.grid > .row:first-child input[type=text] {
  border-radius: 0;
}
.ui.grid > .row:first-child,
.ui.grid > .row:nth-child(2) {
  padding-bottom: 0;
}