body {
  background: #F0F0F0;
}
body > .container {
  padding-top: 50px;
}
input[readonly] {
  cursor: default;
  opacity: 0.45;
  pointer-events: none;
}
.ui.grid {
  margin-right: 0 !important;
}
.ui.grid > .row {
  padding-bottom: 0;
}
.ui.grid > .row > .column {
  padding-right: 0;
}
.ui.segment{
  border-radius: 0;
}
